# Apache Drill cluster information
DRILL_HOST=localhost
DRILL_PORT=8047
DRILL_VERSION=1.15.0-SNAPSHOT

# Can be distributed (true) or embedded (false)
DISTRIBUTED_MODE=false

# Plain security with user/password authentication
SECURE_DRILL=false

ADMIN_USER1_NAME=
ADMIN_USER1_PASSWORD=

ADMIN_USER2_NAME=
ADMIN_USER2_PASSWORD=

NON_ADMIN_USER1_NAME=
NON_ADMIN_USER1_PASSWORD=

NON_ADMIN_USER2_NAME=
NON_ADMIN_USER2_PASSWORD=

# Browser to use. Supported types: CHROME (default), FIREFOX, IE, EDGE
DRIVER_TYPE=CHROME

# Timeout to load pages (in seconds)
DEFAULT_TIMEOUT=5